package-lock.json

node_modules/*

mongodb/*
!mongodb/.gitkeep

src/server/bundle/*
!src/server/bundle/.gitkeep

src/public/images/avatars/*
!src/public/images/avatars/avatar_small.jpg
!src/public/images/avatars/avatar.jpg

src/public/images/neighbors/lazy/*
!src/public/images/neighbors/lazy/.gitkeep
src/public/images/neighbors/thumbnail/*
!src/public/images/neighbors/thumbnail/.gitkeep

src/public/js/*
!src/public/js/.gitkeep

src/public/css/*
!src/public/css/.gitkeep
