@import '../../styles/_media.css';
.list {
    box-sizing: border-box;
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    padding: 0 calc(var(--v-margin_mobile) / 2);
}
.container {
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
}
.msg {
    display: block;
    width: 100%;
    color: var(--secondary);
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    margin-top: 28px;
}
.loader {
    margin-top: 28px !important;
}
@media (--big-viewport) {
    .list {
        padding: 0 calc(var(--v-margin_desktop) / 2);
    }
}
